# BOT_TOKEN=8795057179:AAE5QKwbr03QnbxQrcwO458BMrODiS2m6S8 - тестовий бот
# id каналу (-100...) або @username; бот має бути адміном каналу з правом публікації
# CHANNEL_ID=-1004470039200 - тестовий канал
# id адмінів через кому
ADMIN_IDS=1122936571
# CHANNEL_INVITE_LINK=https://t.me/+KIV3VE-YPAsxMjQy - тестовий канал
BOT_LINK=https://t.me/shche_kvitne_rivne_bot
# BOT_LINK=https://t.me/Testovibott_bot - тестовий бот
PRICE=150
PAY_RECIPIENT=ФОП БЕРНИК АЛІСА СТАНІСЛАВІВНА
PAY_EDRPOU=22222222
PAY_IBAN=UA24305299000002555555108452
PAY_CARD=4874070059422715
PAY_PURPOSE=Оплата за товар
# необовʼязково: шлях до файлу бази даних
DB_PATH=ads.db
